@import url("../../.cache/wal/colors-waybar.css");
/*
//  /$$      /$$                     /$$
// | $$  /$ | $$                    | $$
// | $$ /$$$| $$  /$$$$$$  /$$   /$$| $$$$$$$   /$$$$$$   /$$$$$$
// | $$/$$ $$ $$ |____  $$| $$  | $$| $$__  $$ |____  $$ /$$__  $$
// | $$$$_  $$$$  /$$$$$$$| $$  | $$| $$  \ $$  /$$$$$$$| $$  \__/
// | $$$/ \  $$$ /$$__  $$| $$  | $$| $$  | $$ /$$__  $$| $$
// | $$/   \  $$|  $$$$$$$|  $$$$$$$| $$$$$$$/|  $$$$$$$| $$
// |__/     \__/ \_______/ \____  $$|_______/  \_______/|__/
//                         /$$  | $$
//                        |  $$$$$$/
//                         \______/
*/
* {
    /*Font for the icons*/
    font-family: JetBrainsMono Nerd Font;
    font-size: 12px;
    color: #edf2f4;
}

#custom-weather,
#workspaces,
#custom-fast-fetch,
#window,
#clock,
#cpu,
#memory,
#disk,
#temperature,
#language,
#network,
#pulseaudio,
#battery,
#bluetooth,
#backlight,
#custom-power {
    padding: 0 5px;
    margin: 0 0px;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    border-bottom-color: #00ff00;
}

/*Font color*/
window#waybar {
    background: rgba(25, 25, 25, 0.8);
    color: #ffffff;
    border-radius: 10 10px 10px 10;
}

/*Workspace size */
#workspaces {
    padding: 1px 1px;
}
/*Color, size and filling of workspaces*/
#workspaces button {
    padding: 0 3px;
    background-color: transparent;
    border: 0px solid #000000;
    margin: 0px 0px;
    color: #ffffff;
}
/*Mouse hover*/
#workspaces button:hover {
    background: rgba(0, 255, 255, 0.902);
}

/*Modules*/
/*Module colors*/
.modules-left,
.modules-center,
.modules-right {
    background: rgba(0, 0, 0, 0);
    margin: 0px 0px;
    padding: 0px 10px;
    border-radius: 5px;
}
#custom-fast-fetch {
    font-size: 20px;
}
#custom-weather {
    font-size: 13px;
}
