/*
//  /$$      /$$                     /$$
// | $$  /$ | $$                    | $$
// | $$ /$$$| $$  /$$$$$$  /$$   /$$| $$$$$$$   /$$$$$$   /$$$$$$
// | $$/$$ $$ $$ |____  $$| $$  | $$| $$__  $$ |____  $$ /$$__  $$
// | $$$$_  $$$$  /$$$$$$$| $$  | $$| $$  \ $$  /$$$$$$$| $$  \__/
// | $$$/ \  $$$ /$$__  $$| $$  | $$| $$  | $$ /$$__  $$| $$
// | $$/   \  $$|  $$$$$$$|  $$$$$$$| $$$$$$$/|  $$$$$$$| $$
// |__/     \__/ \_______/ \____  $$|_______/  \_______/|__/
//                         /$$  | $$
//                        |  $$$$$$/
//                         \______/
*/
* {
    /*Font for the icons*/
    font-family: JetBrainsMono Nerd Font;
    font-size: 12px;
    color: #edf2f4;
}

/*Font color*/
window#waybar {
    background: rgba(11, 19, 43, 1);
    color: #ffffff;
    border-radius: 0 10px 10px 0;
}

/*Workspace size */
#workspaces {
    padding: 1px 1px;
}
/*Color, size and filling of workspaces*/
#workspaces button {
    padding: 0 1px;
    background-color: transparent;
    border: 0px solid #000000;
    margin: 0px 0px;
    color: #ffffff;
}
/*Mouse hover*/
#workspaces button:hover {
    background: rgba(0, 255, 255, 0.902);
}

/*Modules*/
/*Module colors*/
.modules-left,
.modules-center,
.modules-right {
    background: rgba(28, 37, 65, 1);
    margin: 0px 5px;
    padding: 0px 10px;
    border-radius: 5px;
}
#custom-fast-fetch {
    font-size: 20px;
}
